body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0;
  background-image: url("game3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.animation {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.gameContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.name {
  width: 70%;
  height: 10%;
  display: flex;
  padding-left: 25%;
  padding-top: 3%;
  font-size: 30px;
  margin-top: 20%;
}
.submit {
  height: 15%;
  padding-left: 42%;
  padding-top: 2%;
}
.gameArea {
  height: 10%;
  width: 100%;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cell {
  height: 40px;
  width: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    111.5deg,
    rgba(249, 230, 1, 1) 9.9%,
    rgba(249, 144, 1, 1) 19.4%,
    rgba(255, 22, 22, 1) 29.2%,
    rgba(255, 22, 133, 1) 37.7%,
    rgba(255, 22, 197, 1) 47.7%,
    rgba(232, 22, 255, 1) 53.9%,
    rgba(162, 22, 255, 1) 60%,
    rgba(80, 22, 255, 1) 68.8%,
    rgba(22, 104, 255, 1) 74.2%,
    rgba(22, 168, 255, 1) 77.6%,
    rgba(22, 255, 220, 1) 86.7%,
    rgba(22, 255, 179, 1) 92.5%,
    rgba(22, 255, 109, 1) 97.1%,
    rgba(92, 255, 22, 1) 103.5%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 800;
  border-bottom: solid 2px white;
}
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    111.5deg,
    rgba(249, 230, 1, 1) 9.9%,
    rgba(249, 144, 1, 1) 19.4%,
    rgba(255, 22, 22, 1) 29.2%,
    rgba(255, 22, 133, 1) 37.7%,
    rgba(255, 22, 197, 1) 47.7%,
    rgba(232, 22, 255, 1) 53.9%,
    rgba(162, 22, 255, 1) 60%,
    rgba(80, 22, 255, 1) 68.8%,
    rgba(22, 104, 255, 1) 74.2%,
    rgba(22, 168, 255, 1) 77.6%,
    rgba(22, 255, 220, 1) 86.7%,
    rgba(22, 255, 179, 1) 92.5%,
    rgba(22, 255, 109, 1) 97.1%,
    rgba(92, 255, 22, 1) 103.5%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 500;
}
.heading {
  height: 20%;
  width: 96%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    109.6deg,
    rgba(255, 219, 47, 1) 11.2%,
    rgba(244, 253, 0, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  height: 40%;
  padding: 5%;
  overflow: auto;

  background: rgb(247, 12, 28);
  background: linear-gradient(
    109.6deg,
    rgba(255, 219, 47, 1) 11.2%,
    rgba(244, 253, 0, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.chances {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.lifeRemains {
  height: 40px;
  width: 40px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.lifedesc {
  height: 40px;
  width: 80px;
  font-weight: 700;
  color: red;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customStyle {
  font-size: 30px;
  color: red;
  margin: 3px;
}
.messageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0px;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(244, 192, 1, 0.919502835313813) 0%,
    rgba(5, 163, 217, 1) 100%
  );
  /*  */
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 30%;
  width: 40%; /* Could be more or less, depending on screen size */
}
.modalText {
  font-size: 24px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBtn {
  height: 50%;
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnM {
  height: 30%;
  width: 30%;
  background-color: rgb(68, 56, 240);
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 22px 26px 51px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 26px 51px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 26px 51px 0px rgba(0, 0, 0, 0.75);
}
